//* Use JS to add .dark-theme to html tag
body {
  color: var(--main-color);

  @include darkTheme() {
    --main-color: #ccc;
  }

  background-color: linear-gradient(to right, #2F80ED, #56CCF2);
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  > main {
    flex: 1;
  }
}

* {
  box-sizing: border-box;
}

